/* 	This code is for LiveFree website. This contains 
 *	all css data.
 */

/* Imporitng fonts */
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sla|Lato:300,400|Quicksand|Roboto:100,400,300|Roboto+Slab:400,300');

html, body {
	padding: 0;
	border: 0;
	margin: 0;
}

/* Anchor no style */
a{
	text-decoration: none;
	color: white;
}

/* Image Icon at top-left. Redirects to # */
.icon {
    position: fixed;
    top: 10px;
    margin: 10px;
    padding-left: 15px;
    padding-top: 15px;
    width: 35px;
    height: 35px;
}

/* Menu button and navigational drawer classes */
.menu-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    right: 25px;
    font-size: 12px;
    cursor: pointer;
    color: #000;

    border: 1px solid;
    border-color: #000;
    border-radius: 5px;

    position: fixed;
    top: 10px;
    margin: 20px;
    padding: 7px;
}

/* Style for navdrawer */
.nav-drawer {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-y: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align: center;
}

/* Style for navdrawer anchor elements */
.nav-drawer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    display: block;
}

.nav-drawer a:hover {
    color: #818181;
}

.nav-drawer .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Logo at the center of page */
.logo {
	position: relative;
}

/* Overlays the section over background */
.overlay-home {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/* Layout: main box */
.main-col {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
	overflow-x: hidden;
}

/* Layout: size 30-40-30 */
.left-col {
	display: inline;
	width: 30%;
	height: 100vh;
}

.mid-col {
	display: inline;
	width: 40%;
	height: 100vh;
}

.right-col {
	display: inline;
	width: 30%;
	height: 100vh;
}

/* Text style of text on home */
.heading { 
	font-family: "Roboto";
	text-align: center;
	font-weight: 300;
	font-size: 350%;
	padding-top: 30%;
}

.sub-heading { 
	font-family: "Roboto";
	text-align: center;
	font-weight: 100;
	font-size: 1.5em;
}

/* Layout: size 45-55 */
.container-large {
	width: 55%;
	height: 100vh;
	animation-name: motion-left;
	animation-duration: 5s;
	position: relative;
}

.container-small {
	width: 45%;
	height: 100vh;
	overflow: hidden;
	animation-name: motion-right;
	animation-duration: 5s;
	position: relative;
}

/* Image resize proportionally */
.img-prop {
	margin-top: 20%;
	width: 80%;
	height: auto;
	overflow-x: hidden;
}

.img-phone {
	margin-top: 20%;
	width: 80%;
	height: auto;
	animation-name: motion-right;
	animation-duration: 5s;
	position: relative;
}

/* Content related style */
.content-box {
	margin-top: 35%;
	width: 80%;
}

.content-heading {
	font-family: "Roboto";
	font-size: 2.5em;
	font-weight: 400;
	line-height: 150%;
}

.content-data {
	font-family: "Roboto";
	font-size: 1.5em;
	font-weight: 300;
	line-height: 150%;
}

/* Button (read-more) style */
.button-style {
	margin-top: 1%;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 1%;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 1.2em;
}

.button-style:hover {
	background-color: #4CAF50;
    color: white;
    border: 2px solid #000;
}


/* App feature section */
.content-box-features {
	margin-top: 35%;
	margin-left: 15%;
	width: 75%;
}

/* Contact-us related layout */
.contact-main {
	display: -webkit-flex;
    display: flex;
	width: 100%;
	height: 40vh;
	background-color: #292929;
}

.project-data {
	display: inline;
	width: 35%;
	height: 100%;
}

.project-links {
	padding-top: 10%;
	padding-left: 35%;
	font-family: "Roboto";
	font-weight: 200;
	line-height: 150%;
	color: white;
	font-size: 1.5em;
}

.extra-links {
	padding-top: 10%;
	padding-left: 10%;
	font-family: "Roboto";
	font-weight: 200;
	line-height: 150%;
	color: white;
	font-size: 1.5em;
}

/* Subscribe realted style */
.subscribe-box {
	display: inline;
	width: 30%;
	height: 100%;
}

.subs-form {
	padding-top: 10%;
}

.subs-button {
	padding: 1%;
	font-size: 1.1em;
	font-family: "Roboto";
	font-weight: 400;
	color: white;
	background-color: #252525;
}

.subs-textbox {
	padding: 0.5%;
	font-size: 1em;
	font-family: "Roboto";
	font-weight: 200;
	color: black;
	border: 2px solid #001;
	border-radius: 25px;
	height: 2em;
	width: 70%;
	background-color: #FFF;
}

/* Footer and licensing related*/
.footer {
	background-color: #292929;
	color: white;
	font-family: "Roboto";
	font-weight: 300;
	width: 100%;
	height: 6vh;
	text-align: center;
}

@media screen and (max-width: 480px) {
	/* Image resize proportionally */
	.img-prop {
		margin-top: 80%;
		width: 75%;
		height: auto;
	}

	/* Content related style */
	.content-box {
		margin-top: 70%;
		width: 97%;
	}

	/* App feature section */
	.content-box-features {
		margin-top: 70%;
		margin-left: 5%;
		width: 97%;
	}

	/* Content related style */
	.content-heading {
		font-size: 1.5em;
	}

	.content-data {
		font-family: "Roboto";
		font-size: 1em;
		font-weight: 300;
		line-height: 150%;
	}

}

/* Animations */
@keyframes motion-left {
    0%   {left:100%; top:0px;}
    100% {left:0px; top:0px;}
}

@keyframes motion-right {
    0%   {right:100%; top:0px;}
    100% {right:0px; top:0px;}
}